<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.assessment.demos.web.mapper.OrderMapper">
    <insert id="addOrder">
        INSERT INTO sys_order (customer_id, product_id, quantity, status, amount, order_number, file, create_time, update_time)
        VALUES (#{customerId}, #{productId}, #{quantity}, #{status}, #{amount}, #{orderNumber},#{file}, #{createTime}, #{updateTime})
    </insert>
    <update id="auditOrder">
        UPDATE sys_order
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="rejectReason != null">
                reject_reason = #{rejectReason},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        WHERE id = #{id}
    </update>
    <update id="updateOrder">
        UPDATE sys_order
        /*把所有的属性都更新*/
        <set>
            <if test="sysOrder.customerId != null">
                customer_id = #{sysOrder.customerId},
            </if>
            <if test="sysOrder.productId != null">
                product_id = #{sysOrder.productId},
            </if>
            <if test="sysOrder.quantity != null">
                quantity = #{sysOrder.quantity},
            </if>
            <if test="sysOrder.status != null">
                status = #{sysOrder.status},
            </if>
            <if test="sysOrder.amount != null">
                amount = #{sysOrder.amount},
            </if>
            <if test="sysOrder.orderNumber != null">
                order_number = #{sysOrder.orderNumber},
            </if>
            <if test="sysOrder.file != null">
                file = #{sysOrder.file},
            </if>
            update_time = #{sysOrder.updateTime}
        </set>
        WHERE id = #{id}
    </update>

    <select id="orderQuery" resultType="com.example.assessment.demos.web.entity.SysOrder">
        SELECT o.* FROM sys_order o join customer c on o.customer_id = c.id
        <where>
            c.salesman_id = #{userId}
            <if test="status != null">
                and o.status = #{status}
            </if>
            <if test="beginTime != null">
                and o.create_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and o.create_time &lt;= #{endTime}
            </if>
        </where>
        order by o.create_time desc
    </select>

    <select id="orderQueryAll" resultType="com.example.assessment.demos.web.entity.SysOrder">
        SELECT o.* FROM sys_order o join customer c on o.customer_id = c.id
        <where>
            <if test="status != null">
                and o.status = #{status}
            </if>
            <if test="beginTime != null">
                and o.create_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and o.create_time &lt;= #{endTime}
            </if>
        </where>
        order by o.create_time desc
    </select>
</mapper>